# Windows-related files

/.vs
/Debug
/Release
/AdvancedChess.exe

# Linux-related files

/obj
/AdvancedChess

# Server configuration and the database

/AdvancedChess.database
/AdvancedChess.configuration